body{
    background: #6acc4c;
}

.registerform{
    background-color: white;
    width: 400px;
    padding: 40px;
    margin: auto;
    box-shadow: 5px 5px 15px 3px rgb(0, 0, 0);
}

.registerform input{
    background-color: #f2f2f2;
    width: 70%;
    font-size: 20px;
    display: block;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

.registerform select {
    background-color: #f2f2f2;
    width: 80%;
    font-size: 20px;
    display: block;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    outline: none;
    border: none;
}

.submit input{
    background-color: rgb(41, 179, 41) !important;
    color:white;
    width: 80%;
    margin: auto;
}